@font-face {
    font-family: "Logo Font";
    src: url(../assets/fonts/LobsterTwo-Bold.ttf);
    font-display: swap;
}
@font-face {
    font-family: "Inter Bold";
    src: url(../assets/fonts/InterTight-ExtraBold.ttf);
    font-display: swap;
}
@font-face {
    font-family: "Inter Regular";
    src: url(../assets/fonts/InterTight-Regular.ttf);
    font-display: swap;
}

body {
    font-family: "Inter Regular";
}
.logo {
    font-family: "Logo Font";
}
.box-btn {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 25px;
    scale: 0.8;
}
.btn {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    font-family: "Inter Bold";
    padding: 5px;
    color: #031291;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.4);
    background: rgba(255,255,255,0.3);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 15px rgba(0,0,0,0.7), 0 0 15px rgba(0,0,0,0.6) inset;
    transition: all 0.5s;
    position: relative;
}
.active {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 8px;
    right: 8px;
    z-index: 30;
    border-radius: 50%;
    background: rgb(3,209,3);
    animation: active 1s ease infinite alternate;
    display: none;
    transition: all 0.5s;
    
}
@keyframes active {
    0% {
        box-shadow: 0 0 3px rgba(3,209,3,0.4);
        transform: scale(0.8);
        opacity: 0.7;
    }
    100% {
        box-shadow: 0 0 15px rgba(3,209,3,1);
        transform: scale(1);
        opacity: 1;
    }
}
.img-box {
    width: 70px;
    height: 70px;
}
.btn p {
    font-size: 1.1rem;
    font-weight: 800;
    line-height: 1.4;
    text-shadow: 0 0 10px rgba(255,255,255,0.2);
}
img {
    width: 100%;
    display: block;
    object-fit: cover;
}

/* <<< Grid Menu>>> */
#grid-menu {
    clip-path: circle(0% at 0% 0%);
}
.open-grid-menu {
    clip-path: circle(150% at 0% 0%) !important;
}





.menu-btn {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.display-menu {
    opacity: 1;
    visibility: visible;
}

.button-active {
    background: rgba(255,255,255,0.55);
}

.active-button {
    display: block;
}
